<% provide(:title, 'Executives') %>

<% provide(:title, 'Executives') %>

<h1 class="title is-1">Marin Cricket Club Executives</h1>
<br>

<div class="columns">
  <div class="column is-3">
    <ul>
      <li><span class="has-text-weight-bold">President</span> - Nick Lynam</li>
      <li><span class="has-text-weight-bold">Treasurer</span> - Singh Virk</li>
      <li><span class="has-text-weight-bold">Secretary</span> - Minesh Govenji</li>
      <li><span class="has-text-weight-bold">1st XI Captain</span> - Rahul Khona</li>
      <li><span class="has-text-weight-bold">2nd XI Captain</span> - Manish Sharma</li>
      <li><span class="has-text-weight-bold">Socials Manager</span> - Jaideep Nair</li>
      <li><span class="has-text-weight-bold">Selection</span> - Ozair Nana</li>
      <li><span class="has-text-weight-bold">Grounds Director</span> - Bhagya Bakshi</li>
      <li><span class="has-text-weight-bold">Club Statistician</span> - Manish Sharma</li>
      <li><span class="has-text-weight-bold">Webmaster</span> - Red Hendery</li>
    </ul>
  </div>
  <div class="column is-offset-1">
    <figure class="has-text-centered">
      <%= image_tag 'nick_manesh.jpg', alt: '2nd XI Captain Manesh Sharma (left)
              and Club President Nick Lynam (right)', style: 'max-height:350px;' %>
      <figcaption>
        2nd XI Captain Manesh Sharma (left) and Club President Nick Lynam (right)
      </figcaption>
    </figure>
  </div>
  <div class="column is-offset-1">
    <figure class="has-text-centered">
      <%= image_tag 'more_post_match.jpg', alt: 'Post Match Beer and "What If" session', style: 'max-height:350px;' %>
      <figcaption>
        Post Match Beer and "What If" session
      </figcaption>
    </figure>
  </div>
</div>
