<h1 class="title is-1">Welcome to Marin Cricket Club!</h1>
<h3 class="subtitle is-3 has-text-centered">The home of Bay Area cricket</h3>

<% unless logged_in? %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Sign Up for Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Create An MCC Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>
<hr>

<p class="extra-padding">
  Welcome to the 2022 season!
</p>

<p>
  Welcome to the Marin Cricket Club. We are getting ready to start up our 2022 season of games in April.
</p>

<p>
  We run both league and social teams, and have a full program of games from April through late October.
  Our net practices will be starting in Mid-March.
</p>

<p>
  If you are interested in joining reach out via our contact page.
  We look forward to seeing you out at Piper Park to watch, or play some cricket with us this season.
</p>

<p>
  I look forward to seeing you out at Piper Park for another great summer fo cricket!
</p>

<p class="extra-padding">Best,</p>
<p class="is-size-5 has-text-weight-semibold negative-margin">
  Nick Lynam
</p>
<p class="negative-margin">Chairman & Club President</p>

<br>

<%= image_tag 'postmatch_panorama.jpg', alt: 'A Picture of Post Match Festivities' %>
