<h1 class="title is-1">Welcome to Marin Cricket Club!</h1>
<h3 class="subtitle is-3 has-text-centered">The home of Bay Area cricket</h3>

<% unless logged_in? %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Sign Up for Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Create An MCC Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>
<hr>

<br>
<div class="columns">
  <div class="column is-3">
    <%= image_tag 'nyl_2021.jpg', alt: 'NYL 2021' %>
  </div>
  <div class="column is-size-4 has-text-weight-semibold ml-6">
    <p>
      We are again hosting the New York Life T20 tournament.
    </p>
    <p>
      Come out and see some great exciting cricket.
    </p>
    <p>
      Should be a great day.
    </p>
  </div>
</div>
