<h1 class="title is-1">Welcome to the Marin Cricket Club!</h1>
<h3 class="subtitle is-3 has-text-centered">The home of Bay Area cricket</h3>

<% unless logged_in? %>
  <div class="negative-margin columns has-text-centered">
    <div class="column">
      <%= link_to 'Sign Up for Game Newsletter', new_newsletter_path, class: 'button is-link is-medium' %>
    </div>
    <div class="column">
      <%= link_to 'Create An MCC Member Account', signup_path, class: 'button is-success is-medium' %>
    </div>
  </div>
<% end %>
<hr>

<p class="is-size-4 has-text-weight-bold">
  A message from Marin Cricket Club about Covid-19 and a possible return to play:
</p>

<p class="extra-padding">Hi everyone,</p>

<p>
  As we continue to navigate through the current Covid19 situation,
  I first want to make sure everyone is safe and healthy. That is the #1 priority.
</p>

<p>
  At this time we do not have a clear picture of our 2020 Season. We are still hopeful
  we will be able to playing some cricket in 2020, but this is looking increasingly unlikely.
</p>

<p>
  We will be updating everyone as new information comes to hand and decisions are made by the club executive committee.
</p>

<p>
  Piper Park remains closed and we stress to our members<span class="has-text-weight-bold"> to
  NOT attempt any cricket activities at the park whatsoever</span>. Doing so reflects
  <span class="has-text-weight-bold">poorly on everyone</span> and could
  result in issues for the entire Club with Marin County in the future.
</p>

<p class="has-text-weight-bold">DO NOT BE THAT GUY.</p>

<p>Please check back here regularly, emails will go out to the existing members as decisions are made.</p>

<p>Again, stay healthy and safe.</p>

<p class="is-size-5 has-text-weight-semibold extra-padding">Nick Lynam</p>
<p class="negative-margin">Chairman & Club President</p>

<br>

<%= image_tag 'postmatch_panorama.jpg', alt: 'A Picture of Post Match Festivities' %>
