<h1 class="title is-1">Welcome to Marin Cricket Club!</h1>
<h3 class="subtitle is-3 has-text-centered">The home of Bay Area cricket</h3>

<% unless logged_in? %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Sign Up for Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Create An MCC Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>
<hr>

<p class="is-size-3 has-text-centered has-text-weight-bold">
  Marin Cricket Club has resumed play for the 2021 season!
</p>

<p class="extra-padding">Hi everyone,</p>

<p>Welcome to the 2021 season!</p>

<p>Yes that's right, we are back playing cricket under strict Covid guidelines.</p>

<p>Check the <%= link_to 'schedule', schedules_url %> of games you see here on the website.</p>

<p>We have both league teams and a full social program scheduled, and nets will be run on a regular basis starting in May.</p>

<p>I look forward to seeing you out at Piper Park</p>

<p class="extra-padding">Best,</p>
<p class="is-size-5 has-text-weight-semibold">Nick Lynam</p>
<p class="negative-margin">Chairman & Club President</p>

<br>

<%= image_tag 'postmatch_panorama.jpg', alt: 'A Picture of Post Match Festivities' %>
