<h1 class="title is-1">Welcome to the Marin Cricket Club!</h1>
<h3 class="subtitle is-3 has-text-centered">The home of Bay Area cricket</h3>

<% unless logged_in? %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Sign Up for Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Create An MCC Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>
<hr>

<p class="is-size-4 has-text-weight-bold">
  A message from Marin Cricket Club about Covid-19 and a possible return to play in 2021:
</p>

<p class="extra-padding">Hi everyone,</p>

<p>
  As a club we are committed to making sure everyone stays safe and healthy,
  but the opportunity to get out and play some cricket, that sounds pretty good!
  We are working through steps with the Larkspur Park & Rec as things loosen and outdoor
  recreation becomes possible.
</p>

<p>
  More to come on that. The goal is to be playing again, understanding the Covid
  rules and regulations we will all have to follow.

<p>
  Please remain patient, and understand until the time we are notified differently,
  Piper Park remains closed and we stress to our members to<span class="has-text-weight-bold">
  NOT attempt any cricket activities at the park whatsoever</span>. Doing so reflects
  <span class="has-text-weight-bold">poorly on everyone</span> and could jepardize our return to play.
</p>

<p>Please check back here regularly, emails will go out to the existing members as decisions are made.</p>

<p>Again, stay healthy and safe.</p>
<p class="extra-padding">Sincerely,</p>
<p class="is-size-5 has-text-weight-semibold">Nick Lynam</p>
<p class="negative-margin">Chairman & Club President</p>

<br>

<%= image_tag 'postmatch_panorama.jpg', alt: 'A Picture of Post Match Festivities' %>
