<h1 class="title is-1">Welcome to Marin Cricket Club!</h1>
<h3 class="subtitle is-3 has-text-centered">The home of Bay Area cricket</h3>

<% unless logged_in? %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Sign Up for Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Create An MCC Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>
<hr>

<p class="extra-padding">
  Welcome to the 2021 season!
</p>

<p>
  We are now back to fully functioning cricket matches. We are still
  taking all precautions, and practicing good covid principals.
</p>

<p>
  Check the <%= link_to 'schedule', schedules_url %> for a full list of available games.
</p>

<p>
  We have both league teams and a full social program in full swing,
  and net trainings are run regulalrly on a Thursday evening at the park.
</p>

<p>
  Come on down, play some cricket or just enjoy an afternoon under the trees watching a game!
</p>

<p>
  I look forward to seeing you out at Piper Park
</p>

<p class="extra-padding">Best,</p>
<p class="is-size-5 has-text-weight-semibold negative-margin">
  Nick Lynam
</p>
<p class="negative-margin">Chairman & Club President</p>

<br>

<%= image_tag 'postmatch_panorama.jpg', alt: 'A Picture of Post Match Festivities' %>
