<% provide(:title, 'Sponsors') %>

<h1 class="title is-1">Our Generous Sponsors</h1>

<hr>
<p>
  Marin Cricket Club is ever grateful to to our long time partner Mani Bakshi.
  We greatly appreciate his continued support and sponsorship of our annual T20 Tournament.
</p>
<div class="columns">
  <div class="column">
    <p>
      Please contact  New York Life insurance agent, Mani Bakshi directly for your insurance needs.
    </p>
    <ul>Mani Bakshi, LUTCF</ul>
    <ul>Agent</ul>
    <ul>CA Ins. License # 0C09500</ul>
    <ul>415-385-2718</ul>
    <ul><%= mail_to 'mbakshi@ft.newyorklife.com', target: 'blank' %></ul>
    <br>
  </div>
  <div class="column is-half">
    <figure class="has-text-centered">
      <%= image_tag('NYL_2023.jpg', alt: 'Annual T20 Tournament Supported by Mani Bakshi') %>
      <figcaption>
        All Participants from the annual 2023 T20 Tournament, congratulations to this years winners the Rainbow Nation!
      </figcaption>
    </figure>
  </div>
  
</div>

<hr>
<p class="is-size-5">
  Interested in becoming a sponsor? Please <%= link_to 'reach out', contact_index_path %> and let us know!
</p>
