<% provide(:title, 'Store') %>

<h1 class="title is-1">Marin Cricket Club Store</h1>

<p>Ev has been hard at work with Serious Cricket in the UK to get a new strip for our
  league teams and even some fancy branded whites for the Socials!
</p>
<p class="has-text-weight-bold">
  *** Please note historically when ordering from a UK supplied sizing is tight,
  I would recommend going 1 size up when ordering. It does show you a sizing guide ***
</p>
<p>Follow this link to view the official MCC Store on the
  <%= link_to 'Serious Cricket Store',
            'https://seriouscricket.co.uk/teamwear/stores/marin-cricket-club/',
                                                                target: 'blank' %>.
</p>

<p class="has-text-weight-bold">
  *** Please read the following info carefully ***
</p>
<p>
  We will have an ordering window open today June 15th through June 28th. We will then get
  all of those orders shipped as one order to us- To Ev -and those will be distributed
  at Piper Park. you will need to make arrangements to collect. We will confirm delivery
  timing once all orders are in, I would expect arrival late July.
<p class="has-text-weight-bold">
  For these initial orders do the following when
  selecting shipping. Put the following for delivery address:
</p>
<ul>
  <li>Adress Line 1: Serious Cricket</li>
  <li>Address Line 2: Dummer</li>
  <li>Town/City: Basingstoke</li>
  <li>County: Hampshire</li>
  <li>Postcode: RG25 2AR</li>
</ul>
<br>
<p>
  This should allow players to place their orders, enter this address and then select
  <span class="has-text-weight-bold">Collect in store</span> so they are not charged delivery.
</p>
<p>
  Subsequent to this initial order period, people can order stuff directly and have it shipped to their location.
</p>
<p>
  This is a tremendous step. You can order and have your own club gear as we move forward-
  especially league teams where we will no longer be in a situation of
  <span class="has-text-weight-bold">"missing uniforms"</span>.
</p>
<p>
  In addition to what you see on the site we will also have league uniforms.
  Those are the placeholders you see on the site- shirt- long & short sleeved, and pants.
  Everyone is encouaged to order what's needed in this initial ordering window- Both league and
  non league apparel. We will use the same league clothing for both 1s and 2s.
<p class="has-text-weight-bold">
  All players that are or want to play league should order a set of league clothing
  during this initial period so we can ship all in at once- you will see those items
  have placeholders and say "Sublimated Bespoke" in the description.
</p>
