<h1 class="title is-1">Welcome to the Marin Cricket Club!</h1>

<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>
  Thank you for signing up to play for the Marin Cricket Club! You must activate your account
  if you want to sign up to play Socials or NCCA League Cricket games.
</p>

<%= link_to 'Activate your account', edit_account_activation_url(@user.activation_token, email: @user.email, host: 'marincricketclub.com') %>
