<p>Hello extremely good looking person,</p>

<p>
  This email confirms all Users in the Marin Cricket Club database have had their fees paid status changed to UNPAID for the upcoming season.
</p>

<p>Happy New Year!</p>
<p>Red</p>
