<%= provide(:title, 'All Players') %>

<% if admin_logged_in? %>
  <div class="columns buttons are-medium is-justify-content-space-around">
    <div class="column is-4">
      <%= link_to 'Add Game Newsletter', new_newsletter_path, class: 'button is-link is-fullwidth' %>
    </div>
    <div class="column is-4">
      <%= link_to 'Add Member Account', signup_path, class: 'button is-success is-fullwidth' %>
    </div>
  </div>
<% end %>

<h1 class="title is-1">All Marin Cricket Club Players</h1>
<hr>

<%= render @users %>
