<%= provide(:title, 'Edit Game') %>
<% provide(:button_text, 'Save Game Changes') %>

<%= render 'schedules/partials/admin_buttons' %>

<h1 class="title is-1">Edit Game</h1>

<%= render 'schedules/partials/form' %>
