<% provide(:title, 'Edit ' + @event.title) %>
<% provide(:button_text, 'Save Event Changes') %>

<%= render 'events/partials/admin_buttons' if admin_logged_in? %>

<h1 class="title is-1">Edit Event</h1>

<%= render 'form', event: @event %>
