<% provide(:title, 'Upcoming Events') %>

<% if admin_logged_in? %>
  <div class="columns is-centered">
    <div class="column is-5">
      <%= link_to 'Create Event', new_event_path, class: 'button is-medium is-success is-fullwidth' %>
    </div>
  </div>
<% end %>

<h1 class="title is-1">Upcoming Marin Cricket Club Events</h1>
<hr>

<%= render @events %>