<div class="columns buttons are-medium">
  <% unless current_page?(selection_schedule_path) || @schedule.selections.blank? %>
    <div class="column">
      <%= link_to 'Set Lineup', selection_schedule_path,
                    class: 'button is-info is-fullwidth' %>
    </div>
  <% end %>

  <% unless current_page?(edit_schedule_path) %>
    <div class="column">
      <%= link_to 'Edit This Game', edit_schedule_path(@schedule),
                    class: 'button is-warning is-fullwidth' %>
    </div>
  <% end %>
  <div class="column">
    <%= link_to 'Create New Game', new_schedule_path,
                  class: 'button is-success is-fullwidth' %>
  </div>
  <div class="column">
    <%= button_to 'Delete This Game', @schedule, method: :delete,
                data: { confirm: 'Are you sure?! GAME AND USER SELECTION
                 SIGNUPS will be PERMANENTLY DELETED from the database.' },
                                  class: 'button is-danger is-fullwidth' %>
  </div>
</div>
