<div class="card">
  <div class="card-content has-text-centered">
    <div class="card-image">
      <%= image_tag 'bye.png', alt: 'Bye Signal' %>
    </div>
  </div>
  <footer class="card-footer">
    <h3 class="card-footer-item has-text-weight-bold">Bye!</h3>
  </footer>
</div>
