<br>
<!-- <p class="is-size-2 has-text-weight-medium">
  The selection window for this game has now closed.
</p> -->
<p class="is-size-5">
  Selection times for teams are as follows:
</p>
<ul class="is-size-5">
  <li>
    Marin One: Tuesday, 5pm 
  </li>
      <li>
    Marin Bears (T20): Tuesday, 5pm 
  </li>
  <li>
    Marin Socials: Wednesday, 5pm 
  </li>
</ul>