<div class="columns buttons are-medium">
  <div class="column">
    <%= link_to 'Edit Your Account', edit_user_path(@user),
                  class: 'button is-warning is-fullwidth is-large' %>
  </div>
  <div class="column is-offset-3">
    <%= button_to 'Delete Your Account', @user, method: :delete,
        data: { confirm: 'You sure brah? You will no longer be able to sign up to Club events and games, and all your stats will be DELETED PERMANENTLY. How will we remember how great you were? '},
                                                class: 'button is-danger is-fullwidth is-large' %>
  </div>
</div>
