<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-centered">
      &copy; Marin Cricket Club, Larkspur, California. Site built, maintained and desgined by
      <%= link_to 'Red Hendery', 'https://redhendery.herokuapp.com/contact', target: 'blank' %>.
    </p>
  </div>
</footer>
